@namespace Mantis.Components.Pages.Policies
@using Microsoft.FluentUI.AspNetCore.Components
@using Syncfusion.Blazor.Buttons
@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager NavigationManager

<div class="page-toolbar">
    <SfButton @onclick="@((args) => NavigateToRenewalCreate())" CssClass="e-primary" IconCss="e-icons e-plus-icon">New Policy</SfButton>

    <span class="sf-verthr"></span>

    <NavLink class="toolbar-link" href="Policies" Match="NavLinkMatch.Prefix">
        <FluentIcon Value="@(new Icons.Regular.Size24.Book())" />
        <span class="toolbar-text">Everything</span>
    </NavLink>
    @* lot molecule scles *@
    <NavLink class="toolbar-link" href="Policies/Products" Match="NavLinkMatch.Prefix">
        <FluentIcon Value="@(new Icons.Regular.Size24.Tag())" />
        <span class="toolbar-text">Product Lines</span>
    </NavLink>
</div>

@code {
    private void NavigateToRenewalCreate()
    {
        NavigationManager.NavigateTo("/Policies");
    }
}
