@page "/Policies"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor
@rendermode InteractiveServer

<link href="mantis.css" rel="stylesheet" />

<div class="page-toolbar">
    <SfButton CssClass="e-primary">New Policy</SfButton>
</div>

<div class="page-content">
    Policy list here
</div>

@code {
    
    protected override async Task OnInitializedAsync()
    {
        BreadcrumbService.UpdateBreadcrumb(new List<BreadcrumbItem>
        {
            new BreadcrumbItem { Text = "Home", Url = "/" },
            new BreadcrumbItem { Text = "Policies" }
        });
    }
}
