.incomplete-container {
    background-color: #ffffff76;
    border:1px solid #5e5e5e;
}

.policylistsmall-container {
}

.sectiontitletab {
    font-family: "montserrat", sans-serif;
    font-size: 1.3em;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3d3d3d+1,6755c3+100 */
    background: linear-gradient(to right, #3d3d3d 1%,#1f1e60 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #dcdcdc;
    text-align: center;
}
.prodmeme {
    background-color: #3d3d3d;
    color: #fff;
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 3px;
    font-size: .9em;
    font-weight: bold;
    min-width: 90px;
    font-family: "mono45-headline", monospace;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.5px;
}
#incomplete-table {
    padding-top: 10px;
    border-right: 5px solid #1f1e60;
    text-align: left;
    min-width: 250px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.ttable {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    font-size: 1em;
}

tr .trow2 {
    display: block;
    margin-top: 0px !important;
    padding: 0px;
}
.trow2 td {
    padding:0px;
}
.tcname {
    width: 200px;
    height: 10px;
    font-size: .9em;
}

.prodinc {
    background-color: #3d3d3d;
    color: #fff;
    padding: 2px 5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: .9em;
    font-weight: bold;
    min-width: 90px;
    font-family: "mono45-headline", monospace;
    font-weight: 500;
    font-style: normal;
}
.inco {
    font-size: .75em;
    font-weight: bold;
}
.intd {
    width: 75px;
}
.infill a:hover {
    cursor:pointer;
    text-decoration:underline;
    text-decoration:dashed !important;
}
.ttpri {
    height: 10px;
    font-size: .7em;
}
.hprod2 {
    background-color: #5e5e5e;
    color: #fff;
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 3px;
    font-size: .9em;
    font-weight: bold;
    min-width: 90px;
    font-family: "mono45-headline", monospace;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.5px;
}

.hexp2 {
    background-color: #ffffffa7;
    color: #424242;
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: .9em;
    font-family: "mono45-headline", monospace;
    font-weight: 500;
    font-style: normal;
}