:root tr td {
    padding: 0px 0px;
    height: 20px;
}
.sectiontitletabsub {
    font-family: "montserrat", sans-serif;
    font-size: 1.5em;
    padding-top: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:#4e1359;
    color: #fff;
    text-align: center;
}
.home-box {
    overflow: hidden;
}
.tbgsub {
    background-color: #4e1359;
    height: 20px;
    color: #ffffff64;
    text-align: left;
    font-size: .7em;
}

    .tbgsub th {
        padding-left: 10px !important;
    }
.tbgcell {
    width: 100%;
}
.home-boxsub {
    padding: 3px;
    background-color: #4e1359;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.no-taskssub {
    height: 100px;
    padding: 10px;
    padding-top: 80px;
    font-family: "montserrat", sans-serif;
    font-size: 1.3em;
    color: #9b9b9b;
    background-color: #fff;
    text-align: center;
}
#tasktablesub {
    padding-top: 10px;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    background-color:#fff;
}

.ttable {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    font-size: 1em;
}

tr .trow {
    display: block;
    margin-top: 5px !important;
    padding: 20px;
}

.tcname2 {
    max-width: 150px !important;
    min-width: 149px !important;
    height: 10px;
    font-size: .9em;
}

.hprod {
    background-color: #646464;
    color: #fff;
    padding-left: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 2px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: .9em;
    font-weight: bold;
    min-width: 90px;
    font-family: "mono45-headline", monospace;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.5px;
}

.hexp {
    background-color: #ffffffa7;
    color: #424242;
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: .9em;
    font-family: "mono45-headline", monospace;
    font-weight: 500;
    font-style: normal;
}

.ttname {
    height: 10px;
    font-size: .9em;
    font-weight: bold;
    width:100%;
}

.ttpri {
    height: 10px;
    font-size: .7em;
}

.rentask-link a:hover {
    cursor: pointer;
}
