@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="homemodule-small-header">QuickLinks</div>
<div class="quick-links-container">
    <div class="cred-cell">
        <a href="https://apps.docusign.com/send" target="_blank">
            <img src="img/misc/docusign-logo.png" class="logo" />
        </a>
    </div>

    <div class="cred-cell">
        <a href="https://app.epaypolicy.com/" target="_blank">
            <img src="img/misc/epay-logo.png" class="logo" />
        </a>
    </div>

    <div class="cred-cell">
        <a href="https://app.ipfs.com/" target="_blank">
            <img src="/img/misc/ipfs.png" class="logo" />
        </a>
    </div>
</div>