.homemodule-small-header {
    font-family: "montserrat", sans-serif;
    font-size: 1.3em;
    padding-top: 3px;
    padding-bottom: 3px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3d3d3d+1,6755c3+100 */
    background: linear-gradient(to right, #3d3d3d 1%,#1f1e60 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #dcdcdc;
    text-align: center;
}
.dailytask-box {
    border: 1px solid #5e5e5e;
}
.quick-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px; /* Spacing between logos */
    background-color: #ffffff76;
    border-right: 5px solid #1f1e60;
    border-left: 1px solid #3d3d3d;
}

.cred-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; /* Adjust this as needed */
    text-align: center;
}

.logo {
    max-width: 100%;
    height: 80px; /* Set a fixed height for all logos */
    object-fit: contain; /* Ensures logos scale properly inside the box */
    display: block;
}
