@using Syncfusion.Blazor
@using Syncfusion.Blazor.Navigations
@inject BreadcrumbService BreadcrumbService
@rendermode InteractiveServer

<div class="breadcrum">
    <SfBreadcrumb>
        <Breadcrumb Items="BreadcrumbService.Items"></Breadcrumb>
        @* <BreadcrumbItems>
            @foreach (var item in BreadcrumbService.Items)
            {
                <BreadcrumbItem Text="@item.Text" Url="@item.Url" />
            }
        </BreadcrumbItems> *@
    </SfBreadcrumb>
</div>