@using Syncfusion.Blazor
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Mantis.Domain.Shared.Services
@using Mantis.Components.Layout
@using Microsoft.FluentUI.AspNetCore.Components

@inherits LayoutComponentBase
@inject BreadcrumbService BreadcrumbService

<div class="top-bar">
    <div class="left-icons">
        <a href="/">
            <img src="/img/surefirelogo-full.png" alt="App Logo" class="app-logo" />
        </a>
    </div>

    <div class="search-bar">
        <input type="text" placeholder="Find or do something..." class="search-input" />
    </div>

    <div class="right-icons" style="color:#fff;">
        <SfButton CssClass="e-flat e-icon-btn" IconCss="e-icons e-plus-icon"></SfButton>
        <SfButton CssClass="e-flat e-icon-btn">
            <span class="e-icons e-user"></span>
        </SfButton>
    </div>
</div>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="breadcrum">
            <SfBreadcrumb>
                <BreadcrumbItems>
                    @foreach (var item in BreadcrumbService.Items)
                    {
                        <BreadcrumbItem Text="@item.Text" Url="@item.Url" />
                    }
                </BreadcrumbItems>
            </SfBreadcrumb>
        </div>
        <article class="myarticleclass">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<style>
    .page {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .top-bar {
        width: 100%;
        height: 50px;
        background-image: linear-gradient(77deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 0 10px;
        position: sticky;
        top: 0;
    }

    .left-icons {
        display: flex;
        align-items: center;
    }

    .app-logo {
        opacity: 0.7;
        height: 20px;
        /* Adjust the height to match your design requirements */
    }

    .search-bar {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .search-input {
        width: 100%;
        max-width: 400px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .right-icons {
        display: flex;
        align-items: center;
    }

    .e-icon-btn {
        background-color: transparent;
        border: none;
        opacity: 0.7;
        color: white;
        transition: opacity 0.3s;
    }

        .e-icon-btn:hover {
            opacity: 1;
            box-shadow: none;
            border: none;
        }

        .e-icon-btn .e-icons {
            color: white;
        }

    .main-content {
        flex-grow: 1;
        padding: 20px;
        overflow: auto;
    }

    .e-toolbar-spacer {
        flex-grow: 1;
    }
</style>
