:root .sf-useremail {
    font-size: .7em;
    color: #fff;
    opacity: .4;
    -webkit-text-decoration: none;
    text-decoration: none;
    transition: opacity .5s;
}
:root .sf-useremail:hover {
    opacity: .9;
}
:root main {
    margin-left: 50px;
    margin-top: 50px;
}
sf-search-bar {
}

.sf-search-input {
    font-family: 'Segoe UI Variable Text';
    font-size: 15px;
    padding: 4px 8px;
    padding-left: 30px;
    border-radius: 3px;
    border: 1px solid #745ea1;
    width: 300px;
    background-color: #ffffffde;
}
.sf-search-input:active {
    border-color: #745ea1;
}
:root .sf-search-input:focus-visible {
    outline: 0;
    background-color: #fff;
}
    .sf-search-icon {
    position: relative;
    left: -300px;
    top: 4px;
    /*transform: translateY(-50%);*/
    pointer-events: none; /* Makes the icon non-interactive */
    font-size: 20px;
    color: #745ea1;
}


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
