.inactive-icon{

}
:root .inactive-icon {
    fill: #5e5e5e !important;
    fill: #5e5e5e00 !important;
}
.nb-blueline {
    width: 2px;
    height: 37px;
    float: left;
    position: relative;
    top: -6px;
    left: 4px;
}
    
:root .nav-link {
    padding: 0px !important;
}
.what {
    color: #808080;
}
/*.custom-icon-color {
    color: #0078D4;*/ /* Your desired default color */
/*}

.e-icons.e-medium {
    font-size: 20px !important;
}

.nav-link {
    position: relative;
    color: #000;
    padding: 0px;
}

    .nav-link .selected-nav-item {
        color: #000;
    }

    .nav-link:hover::after {
        content: attr(title);
        position: absolute;
        left: 100%;
        margin-left: 8px;
        background: #333;
        color: #fff;
        padding: 4px 8px;
        border-radius: 4px;
        white-space: nowrap;
    }

.nb-blueline {
    border-left: 4px solid transparent;
    height: 100%;
}

.nb-active {
    border-left: 4px solid #0078D4;
}

.inactive-icon {
    color: grey;
    transition: color 0.3s ease;
}

    .inactive-icon:hover {
        color: black;
    }

.active-icon {
    color: #0078D4;
}



.btn {
    padding: 0;
}

    .btn:focus {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }*/




/*.nb-active {
    background-color: #0078d4;
}

    .nav-link {
        display: block;
        padding: 0px;
        color: #0d6efd;
        text-decoration: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    }
        .nav-link:focus {
            outline: none;
            box-shadow: none;
        }*/