.btn {
    padding: 0;
}
    .btn:focus {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
.nb-blueline {
    width: 2px;
    height: 36px;
    float: left;
    position: relative;
    top: -7px;
    left: 4px;
    /*position:relative;
    top:-8px;
    left:-5px;*/
}
.nb-active {
    background-color: #0078d4;
}

    .nav-link {
        display: block;
        padding: 0px;
        color: #0d6efd;
        text-decoration: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    }
        .nav-link:focus {
            outline: none;
            box-shadow: none;
        }