@page "/Carriers2"
@using Mantis.Domain.Carriers.Models
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor
@rendermode InteractiveServer

<link href="mantis.css" rel="stylesheet" />

<div class="page-toolbar">
    <SfButton CssClass="e-primary">New Carrier</SfButton>
</div>

<div class="page-content">
    <SfGrid TValue="Carrier" AllowPaging="true" Toolbar="@(new List<string>() { "Add", "Edit", "Update", "Search", "Cancel" })">
        <GridEvents TValue="Carrier" OnActionFailure="@ActionFailure"></GridEvents>
        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
        <SfDataManager Url="bpm/Default" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
        <GridColumns>
            <GridColumn Field="CarrierId" HeaderText="Carrier ID" IsPrimaryKey="true" IsIdentity="true" TextAlign="@Syncfusion.Blazor.Grids.TextAlign.Right" Width="90"></GridColumn>
            <GridColumn Field="CarrierName" HeaderText="Carrier Name" Width="90"></GridColumn>
            <GridColumn Field="CreatedBy" HeaderText="CreatedBy" IsIdentity="true" ></GridColumn>
        </GridColumns>
    </SfGrid>
</div>
@statusMy

@code {
    string statusMy = "Loading";

    protected override async Task OnInitializedAsync()
    {
        statusMy = "Loading...";
        BreadcrumbService.UpdateBreadcrumb(new List<BreadcrumbItem>
        {
            new BreadcrumbItem { Text = "Home", Url = "/" },
            new BreadcrumbItem { Text = "Carriers" }
        });
        InvokeAsync(StateHasChanged);
    }
    public void ActionFailure(Syncfusion.Blazor.Grids.FailureEventArgs args)
    {
        string dhjdhjd = "423432";
        StateHasChanged();
    }
    private void OnBeginHandler(ActionEventArgs<Carrier> Args) 
    { 
        statusMy = "Clicked";
        InvokeAsync(StateHasChanged);
    } 
}
