@namespace Mantis.Components.Pages.Clients
@using Microsoft.FluentUI.AspNetCore.Components
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons
@using Microsoft.AspNetCore.Components.Routing
@using Mantis.Domain.Shared
@using Mantis.Domain.Forms.Services
@inject NavigationService NavigationService
@inject NavigationManager NavigationManager
@inject FormService FormService
@rendermode InteractiveServer

<div class="page-toolbar">
    <SfDropDownButton CssClass="e-primary" Content="Create New">
        <DropDownButtonEvents ItemSelected="HandleOnMenuChanged"></DropDownButtonEvents>
        <DropDownMenuItems>
            <DropDownMenuItem Text="Client" IconCss="e-icons e-plus-icon"></DropDownMenuItem>
            <DropDownMenuItem Text="Contact" IconCss="e-icons e-plus-icon"></DropDownMenuItem>
            <DropDownMenuItem Text="Policy" IconCss="e-icons e-plus-icon"></DropDownMenuItem>
            <DropDownMenuItem Text="Certificate" IconCss="e-icons e-plus-icon"></DropDownMenuItem>
        </DropDownMenuItems>
    </SfDropDownButton>

    <span class="sf-verthr"></span>

    <NavLink class="toolbar-link" href="/Clients" Match="NavLinkMatch.Prefix">
        <FluentIcon Value="@(new Icons.Regular.Size24.Database())" />
        <span class="toolbar-text">Database</span>
    </NavLink>

    <span class="sf-verthr2"></span>

    @if (ClientId != 0)
    {
        <NavLink class="toolbar-link" href="@("Clients/Edit/" + ClientId)" Match="NavLinkMatch.Prefix">
            <FluentIcon Value="@(new Icons.Regular.Size24.PenSparkle())" />
            <span class="toolbar-text">Edit</span>
        </NavLink>
    }

</div>

@code {
    [Parameter]
    public int ClientId { get; set; }

    [Parameter]
    public string ClientName { get; set; }

    [Parameter]
    public EventCallback OnNewPolicy { get; set; }

    private async Task HandleOnMenuChanged(MenuEventArgs args)
    {
        // Check which menu item was selected
        switch (args.Item.Text)
        {
            case "Client":
                await NewClient();
                break;
            case "Contact":
                await NewContact();
                break;
            case "Certificate":
                await NewCertificate();
                break;
            case "Policy":
                await NewPolicy();
            break;
        }
    }

    private async Task NewContact()
    {
        NavigationManager.NavigateTo($"/Contacts/Create?ParentType=Client&ParentId={ClientId}");
    }

    private async Task NewClient()
    {
        NavigationManager.NavigateTo($"/Clients/Create");
    }

    private async Task NewCertificate()
    {
        int newcertid = await FormService.CreateCertificate(ClientId);
        NavigationManager.NavigateTo($"/Forms/Certificate/{newcertid}");
    }

    private async Task NewPolicy()
    {
        if (OnNewPolicy.HasDelegate)
        {
            await OnNewPolicy.InvokeAsync();
        }
    }
}