@page "/Clients/Create"
@using Microsoft.EntityFrameworkCore
@using Mantis.Domain.Clients.Models
@using Mantis.Domain.Contacts.Models
@using Mantis.Domain.Clients.Services
@using Mantis.Domain.Shared
@using Mantis.Data
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@inject ClientService ClientService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Create Client</PageTitle>
<SfBreadcrumb>
    <BreadcrumbItems>
        <BreadcrumbItem Text="Clients" Url="/Clients" />
        <BreadcrumbItem Text="Create" />
    </BreadcrumbItems>
</SfBreadcrumb>

<div class="page-content">
    <div class="mh1">Create New Client</div>

    <EditForm Model="client" OnValidSubmit="CreateClient" FormName="create">
        <DataAnnotationsValidator />

        <div class="mf-flex mf-flex-row mf-row-container">
            <div class="mf-item-lg">
                <h4 style="padding-left:8px;">Client Details</h4>

                <SfTextBox id="clientName" @bind-Value="client.Name" Placeholder="Client Name" FloatLabelType="FloatLabelType.Always" />
                <ValidationMessage For="() => client.Name" class="text-danger" />

                <SfTextBox id="lookupCode" @bind-Value="client.LookupCode" Placeholder="Lookup Code" FloatLabelType="FloatLabelType.Always" />
                <ValidationMessage For="() => client.LookupCode" class="text-danger" />

                <SfTextBox id="phoneNumber" @bind-Value="client.PhoneNumber" Placeholder="Phone Number" FloatLabelType="FloatLabelType.Always" />
                <ValidationMessage For="() => client.PhoneNumber" class="text-danger" />

                <SfTextBox id="email" @bind-Value="client.Email" Placeholder="Email" FloatLabelType="FloatLabelType.Always" />
                <ValidationMessage For="() => client.Email" class="text-danger" />

                <SfTextBox id="website" @bind-Value="client.Website" Placeholder="Website" FloatLabelType="FloatLabelType.Always" />
                <ValidationMessage For="() => client.Website" class="text-danger" />

                <SfTextBox id="comments" @bind-Value="client.Comments" Placeholder="Comments" FloatLabelType="FloatLabelType.Always" />
                <ValidationMessage For="() => client.Comments" class="text-danger" />
            </div>

            <div class="mf-item-lg mf-pad-left">
                <h4 style="padding-left:8px;">Headquarters Address</h4>

                <SfTextBox id="addressLine1" @bind-Value="client.Address.AddressLine1" Placeholder="Address Line 1" FloatLabelType="FloatLabelType.Always" />
                <ValidationMessage For="() => client.Address.AddressLine1" class="text-danger" />

                <SfTextBox id="addressLine2" @bind-Value="client.Address.AddressLine2" Placeholder="Address Line 2" FloatLabelType="FloatLabelType.Always" />

                <SfTextBox id="city" @bind-Value="client.Address.City" Placeholder="City" FloatLabelType="FloatLabelType.Always" />
                <ValidationMessage For="() => client.Address.City" class="text-danger" />

                <SfTextBox id="state" @bind-Value="client.Address.State" Placeholder="State" FloatLabelType="FloatLabelType.Always" />
                <ValidationMessage For="() => client.Address.State" class="text-danger" />

                <SfTextBox id="postalCode" @bind-Value="client.Address.PostalCode" Placeholder="Postal Code" FloatLabelType="FloatLabelType.Always" />
                <ValidationMessage For="() => client.Address.PostalCode" class="text-danger" />
            </div>

            <div class="mf-item-lg mf-pad-left">
                <h4 style="padding-left:8px;">Primary Contact</h4>
                <SfTextBox id="firstname" @bind-Value="client.PrimaryContact.FirstName" Placeholder="First Name" FloatLabelType="FloatLabelType.Always" />
                <ValidationMessage For="() => client.PrimaryContact.FirstName" class="text-danger" />

                <SfTextBox id="lastname" @bind-Value="client.PrimaryContact.LastName" Placeholder="Last Name" FloatLabelType="FloatLabelType.Always" />
                <ValidationMessage For="() => client.PrimaryContact.LastName" class="text-danger" />

                <SfTextBox id="contactemail" @bind-Value="client.PrimaryContact.Email" Placeholder="Email" FloatLabelType="FloatLabelType.Always" />
                <ValidationMessage For="() => client.PrimaryContact.Email" class="text-danger" />

                <SfTextBox id="contactphone" @bind-Value="client.PrimaryContact.Phone" Placeholder="Phone" FloatLabelType="FloatLabelType.Always" />
                <ValidationMessage For="() => client.PrimaryContact.Phone" class="text-danger" />
            </div>
        </div>

        <br />

        <SfButton Content="Cancel" CssClass="e-secondary" type="button" @onclick="CancelCreate"></SfButton>&nbsp;
        <SfButton Content="Create Client" CssClass="e-primary" type="submit"></SfButton>
    </EditForm>
</div>

@code {
    private Client client = new Client
        {
            Address = new Address(), PrimaryContact = new Contact()
        };

    private async Task CreateClient()
    {
        try
        {
            int myclientid = await ClientService.CreateClientAsync(client);
            NavigationManager.NavigateTo($"/Clients/List/{myclientid}");
        }
        catch (DbUpdateException)
        {
            throw;
        }
    }

    private void CancelCreate()
    {
        NavigationManager.NavigateTo("/Clients/List/11");
    }
}
