@page "/Clients"

@using Mantis.Components.Layout
@using Microsoft.FluentUI.AspNetCore.Components

@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<_toolbar />

<div class="page-content">
    <h1>(Use this URL as the main layout)</h1>
</div>

@code {
    protected override void OnInitialized()
    {
        BreadcrumbService.UpdateBreadcrumb(new List<BreadcrumbItem>
        {
            new BreadcrumbItem { Text = "Home", Url = "/" },
            new BreadcrumbItem { Text = "Clients" }
        });
    }
}
