:root .smallbutton {
    font-size: .6em !important;
    padding: 0px 0px !important;
    margin: 0px 0px !important;
    width: 50px;
}

:root .sf-tab {
    background-color: #fff;
    border-radius: 5px;
    line-height: 1.1;
}



.page-content {
    display: flex;
    flex-direction: row;
}

.tinyexpander {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: .3;
}

    .tinyexpander:hover {
        opacity: 1;
        cursor: pointer;
    }



:root .sf-collapse {
    width: 15px;
    background-color: #e2e2e2;
    height: 100%;
    float: right;
}


.client-main {
    background-color:#fff;
    height:auto;
}
h3 {
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px !important;
    color: #8d8d8d;
    padding: 0 !important;
    position: relative;
    top: 3px;
}

h4 {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px !important;
    color: #8d8d8d;
    padding: 0 !important;
    position: relative;
    top: 3px;
}

.policy-container {
    max-width: 600px;
    margin: 0 auto;
}
:root .smallicon {
    position:relative;
    top:5px;
}
.smalltool {
    font-size: 11px;
    padding: 3px 5px;
    margin: 0px;
    color: #fff;
    border:1px solid #ffffff68;
    -webkit-text-decoration: none;
    text-decoration: none;
    border-radius:3px;
}

.smalltool:hover {
    cursor:pointer;
    border:1px solid #fff;
}
:root .smallbutton {
    font-size: .6em !important;
    width: 50px;
}
.policy {
    color: #fff;
    width: 100%;
    padding: 9px 10px 6px 10px;
    margin-bottom: 10px;
    border-left: 5px solid #64a2d8;
    border-radius: 3px;
    height: 45px;
    background-color: #0f6cbd;
    overflow: hidden;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
    .policy.expanded {
        background-color: #141414;
        transition: all .4s ease-in-out;
        height: 76px;
        border-left: 5px solid #808080;
        border-radius: 5px;
    }

    .policy .additional-links {
        margin-top:5px;
        transition: all .4s ease-in-out;
    }

    .policy.expanded .additional-links {
        
    }
.policy-header {
    display: flex;
    justify-content: space-between;
}
.edate {
    font-size: 1.4em;
    float: left;
    font-weight: 100;
}
.xdate {
    font-size: 1.4em;
    float: left;
    font-weight: 600;
}
.carrier-name {
    font-size: .9em;
    font-weight: 200;
    color:#ffffffb1

}
.ff1 {
}

.ff2 {
    margin-left: auto;
}
.policy-linename {
    font-size: 1.4em;
    font-weight: 700;
}
.policy-number {
    font-size:.75em;
    color:#ccc;
}
.policy-carriers {
    font-size: 1.125em;
    font-weight:200;
    padding: 4px 0px;
}
.lighter {
    color:#ffffff70;
    padding: 0px 8px;
}
.policy-price {
    font-family: "montserrat", sans-serif;
    font-size: .9em;
    font-style: italic;
    color:#bebebe;
}
.policy-details {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.past-policy {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    flex-direction: row;
    width: 100%;
    padding-right: 17px;
    padding: 0px;
    padding-left: 7px;
    margin-bottom: 7px;
    border-left: 5px solid #e5e5e5;
    border-radius: 5px;
}

    .past-policy div {
        text-align: left;
    }




.txt-cursive-sm {
    position: relative;
    top: -6px;
}
.sf-toppad {
    margin-top: 25px;
    margin-bottom: 12px !important;
}

.past-policy-header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.past-policy-details {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: #696969;
}

.client-details-1 {
    font-family: "montserrat", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding-bottom: 20px;
}



.client-top {
    font-family: "montserrat", sans-serif;
    background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(234,234,234,1) 100%);
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.top-rowone {
    width:100%;
    height: 50px;
    overflow:hidden;
}
.top-rowtwo {
    position: relative;
    top: -4px;
    color: #454545;
}
.client-name {
    font-weight: 800;
    font-style: normal;
    font-size: 2.5em;
}
.client-phone {
    float:right;
}
.client-phonenumber {
    font-weight: 300;
    font-style: normal;
    font-size: 2.5em;
    position: relative;
    top: -10px;
    left:-5px;
    color: #8d8d8d;
}
.client-data {
    font-weight: 300;
    position: relative;
    left: -4px;
    font-style: normal;
    font-size: 1.125em;
    margin-right: 25px;
    text-decoration: none;
    color: #1e1e1e;
}
.client-data:hover {
    color: #0f6cbd;
    cursor:pointer;
}
.data-icon {
    position: relative;
    top: 3px;
    color: #8d8d8d;
}

.phone-icon {
    position: relative;
    top: 2px;
    color: #8d8d8d;
}
.email-icon {
    position: relative;
    top: 2px;
    color: #8d8d8d;
}
.map-icon {
    position: relative;
    top: 2px;
    color: #8d8d8d;
}




.client-header {
    font-family: "montserrat", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5em;
    flex: 2;
    line-height: 30px;
}

    .client-header h1 {
        font-family: "montserrat", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 2.5em;
        margin-bottom: 20px;
    }

.client-header-2 {
    flex: 1;
}

.client-header-3 {
    flex: 1;
    line-height: 20px;
    text-align: right;
    align-content: center;
}

.sf-col h3 {
}



.client-email {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
}
/*main content*/
.sf-col-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #fff;
    /*border: 1px solid #ccc;*/
}
.contactcard {
    margin-left: 10px;
    font-size: 1rem;
}
.sf-col {
}
.tabcontents {
    padding: 10px 20px;
}
.sf-col-1 {
    flex: 1;
    padding: 10px 20px 0px 15px;
}

.sf-col-2 {
    font-family: "montserrat", sans-serif;
    flex: 1;
    padding: 10px 10px 0px 20px;
    margin-left:20px;
}

.sf-col-3 {
    flex: 1;
    padding: 10px 10px 0px 20px;
    font-family: "montserrat", sans-serif;
    font-size: 12px;
}


.sf-selected {
    width: 100%;
    box-shadow: 0px 0px 6px #0000002b;
    position: relative;
    background-color: #fff;
    -webkit-border-top-left-radius: inherit;
    border-top-left-radius: 10px;
}

.sf-header {
    font-family: "montserrat", sans-serif;
    display: flex;
    justify-content: normal;
    flex-direction: row;
    background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(234,234,234,1) 100%);
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}




.client-details {
    display: flex;
    justify-content: start;
    flex-direction: column;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    padding: 15px;
}

.sf-detail {
    width: 100%;
    padding: 20px;
}

.column:first-child {
    padding-right: 20px;
}

.column:nth-child(2) {
    padding-left: 10px;
    padding-right: 10px;
}

.column:last-child {
    padding-left: 20px;
}

.column {
    flex: 1;
    padding: 0;
}

    .column h3 {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .column p, .column ul {
        margin-bottom: 10px;
    }

