@page "/Clients/Personal"

@using Mantis.Components.Layout
@using Microsoft.FluentUI.AspNetCore.Components

@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<Toolbar />

<div class="page-content">
    <h1>Personal Lines</h1>
</div>

@code {
    protected override void OnInitialized()
    {
        BreadcrumbService.UpdateBreadcrumb(new List<BreadcrumbItem>
        {
            new BreadcrumbItem { Text = "Home", Url = "/" },
            new BreadcrumbItem { Text = "Clients" }
        });
    }
}
