@page "/"
@using Mantis.Components.Shared
@using Mantis.Domain.Renewals.Services
@using Mantis.Domain.Renewals.ViewModels
@using Mantis.Domain.Shared
@inject TaskService TaskService
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="page-content" style="padding:0px !important; height:100%;">
    <img src="/img/banner3.png" class="img-fluid" />
    <div class="home-content">
        <div>
            <RenewalTasks Tasks="@tasks" />
        </div>
        <div>
            <IncompleteTasks IncompleteTasks="@incompleteTasks" />
        </div>
        <div style="width:500px;">
            <DailyTaskList DailyTasks="@dailyTasks" />
            <div style="height:50px;"></div>
            <div class="sectiontitletab">Upcoming Renewals</div>
            <div class="home-box">
                <h3>Coming Soon</h3>
            </div>
        </div>
    </div>
</div>

<style>
    

</style>

@code {
    private List<HomePageTasksViewModel> tasks;
    private List<HomePageTasksViewModel> incompleteTasks;
    private List<DailyTask> dailyTasks;

    protected override async Task OnInitializedAsync()
    {
        tasks = await TaskService.GetHomePageTasksAsync();
        incompleteTasks = await TaskService.GetIncompleteTasksForCurrentUserAsync();
        dailyTasks = await TaskService.GetDailyTasksAsync();
    }

    protected override void OnInitialized()
    {
        BreadcrumbService.UpdateBreadcrumb(new List<BreadcrumbItem>
        {
            new BreadcrumbItem { Text = "Home" }
        });
    }
}