@page "/"

<PageTitle>Home</PageTitle>

<div class="page-content">
    <img src="/img/banner.jpg" class="img-fluid" />
    <h1>SureFire is Locked and Loaded, Nathan!</h1>
    <div style="display:flex; flex-direction:row; justify-content:space-between">
        <div>
            <h2>Daily Task List</h2>
            (Task List Goes Here)
        </div>
        <div>
            <h2>Upcoming Renewals</h2>
            (List top 5 renewals)
        </div>
        <div>
            <h2>Renewal Task Items</h2>
            (Renewal tasks go here)
        </div>
    </div>

    <h3>Feature Wishlist / Roadmappuke </h3>
    <ul>
        <li>Microsoft Office Graph API
            <ul>
                <li>See client emails across all agency emails</li>
                <li>Emails body / subject lines are tagged with Slugs for easy access</li>
            </ul>
        </li>
        <li>
            Desktop Outlook Integration
            <ul>
                <li>Automate Outlook tasks using COM Interop</li>
            </ul>
        </li>
        <li>
            Local File Storage & Manipulation
            <ul>
                <li>Attachments are stored on Azure and an optional local server for faster access</li>
                <li>Embedded PDF editor and signatures using SyncFusion</li>
            </ul>
        </li>
     </ul>
</div>


@code {
    protected override void OnInitialized()
    {
        BreadcrumbService.UpdateBreadcrumb(new List<BreadcrumbItem>
        {
            new BreadcrumbItem { Text = "Home" }
        });
    }
}