@page "/"

<PageTitle>Home</PageTitle>

<div class="page-content">
    <h1>Welcome to SureFire!</h1>

    <p>We're glad you're here. SureFire is a fast, open source and intuitive insurance agency management system built with the modern technology.</p>
</div>


@code {
    protected override void OnInitialized()
    {
        BreadcrumbService.UpdateBreadcrumb(new List<BreadcrumbItem>
        {
            new BreadcrumbItem { Text = "Home" }
        });
    }
}