@page "/Account/Login"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using Mantis.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Log in</PageTitle>

<div class="page-content">
    <section style="width:300px; padding-left:40px;">
        <StatusMessage Message="@errorMessage" />
        <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
            <DataAnnotationsValidator />
            <h2>Login Required</h2>
            <ValidationSummary class="text-danger" role="alert" />
            <span class="sf-thead">Email</span>
            <div class="e-input-group e-control-container e-control-wrapper e-float-input" style="padding-top:0px !important;">
                <InputText @bind-Value="Input.Email" class="e-control e-textbox e-lib" autocomplete="username" aria-required="true" placeholder="email" />
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            </div>
            <div style="height:20px;"></div>
            <span class="sf-thead">Password</span>
            <div class="e-input-group e-control-container e-control-wrapper e-float-input valid" style="padding-top:0px !important;">
                <InputText type="password" @bind-Value="Input.Password" class="e-control e-textbox e-lib" autocomplete="current-password" aria-required="true" placeholder="password" />
                <ValidationMessage For="() => Input.Password" class="text-danger" />
            </div>
            <div style="height:10px;"></div>
            <div class="checkbox mb-3" style="font-size:12px;">
                <label class="form-label">
                    <InputCheckbox @bind-Value="Input.RememberMe" class="darker-border-checkbox form-check-input" />
                    Remember me
                </label>
            </div>
            <div style="height:10px;"></div>
            <div>
                <FluentButton Appearance="Appearance.Accent" Type="ButtonType.Submit" class="w-100 btn btn-lg btn-primary">Log in</FluentButton>
            </div>
            @* <div>
            <p>
            <a href="Account/ForgotPassword">Forgot your password?</a>
            </p>
            <p>
            <a href="@(NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Register as a new user</a>
            </p>
            <p>
            <a href="Account/ResendEmailConfirmation">Resend email confirmation</a>
            </p>
            </div> *@
        </EditForm>
    </section>
</div>
<style>
    :root .e-float-input {
                padding-top: 0px !important;
                margin-top: 0px !important;
    }
    </style>
@code {
    private string? errorMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        // This doesn't count login failures towards account lockout
        // To enable password failures to trigger account lockout, set lockoutOnFailure: true
        var result = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe, lockoutOnFailure: false);
        if (result.Succeeded)
        {
            Logger.LogInformation("User logged in.");
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.RequiresTwoFactor)
        {
            RedirectManager.RedirectTo(
                "Account/LoginWith2fa",
                new() { ["returnUrl"] = ReturnUrl, ["rememberMe"] = Input.RememberMe });
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("User account locked out.");
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            errorMessage = "Error: Invalid login attempt.";
        }
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Display(Name = "Remember me?")]
        public bool RememberMe { get; set; }
    }
}
