@page "/loading"
@layout UnauthLayout
@using Surefire.Components.Layout
@inject StateService _stateService
@inject AuthenticationStateProvider AuthStateProvider

<h3>Loading, please wait...</h3>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!_stateService.IsInitialized)
        {
            await _stateService.InitializeStateAsync(AuthStateProvider.GetAuthenticationStateAsync());
        }
        await Task.Delay(100);
    }
}
