@namespace Mantis.Components.Pages.Renewals
@using Microsoft.FluentUI.AspNetCore.Components
@using Syncfusion.Blazor.Buttons
@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager NavigationManager

<div class="page-toolbar">
    <SfButton @onclick="@((args) => NavigateToRenewalCreate())" CssClass="e-primary" IconCss="e-icons e-plus-icon">New Renewal</SfButton>

    <NavLink class="toolbar-link" href="Renewals/List" Match="NavLinkMatch.Prefix">
        <FluentIcon Value="@(new Icons.Regular.Size24.List())" />
    </NavLink>

    <NavLink class="toolbar-link" href="Renewals/MasterTasks" Match="NavLinkMatch.Prefix">
        <FluentIcon Value="@(new Icons.Regular.Size24.ShieldTask())" />
    </NavLink>
</div>

<style>
    .e-plus-icon::before {
        content: '\e805';
    }
</style>

@code {
    private void NavigateToRenewalCreate()
    {
        NavigationManager.NavigateTo("/Renewals/Create");
    }
}
