@page "/Renewals"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor
@rendermode InteractiveServer

<_toolbar />

<div class="page-content">
    Renewal Manager Homepage
</div>

@code {
    
    protected override async Task OnInitializedAsync()
    {
        BreadcrumbService.UpdateBreadcrumb(new List<BreadcrumbItem>
        {
            new BreadcrumbItem { Text = "Home", Url = "/" },
            new BreadcrumbItem { Text = "Renewals" }
        });
    }
}
