.homelist {
    background-color: #fff;
    border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 20px #ccc;
}
