:root .e-dropdownlist {
    font-size: .8em !important;
    font-weight: 400;
    font-weight: normal !important;
    background-color: transparent !important;
    border: 0px !important;
    padding-left: 3px !important;
    padding-right: 0px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    font-family: "montserrat", sans-serif;
    font-size: .8em !important;
}

:root .e-input {
    /*padding-left: 9px;
    padding-right: 22px;
    height: 30px;*/
}

:root .sf-eformbld {
    font-weight: bold !important;
}

.filter-section {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#filter-results {
    display: block;
    transition: all 0.2s linear;
}

.results-on {
    opacity: 1;
}

.results-off {
    opacity: .25;
}

.results-temp {
    height: auto;
    opacity: 1;
}


.selected-on {
    height: 100%;
    opacity: 1;
}

.selected-off {
    height: 0%;
    overflow: hidden;
    opacity: .5;
}

.renewalitemlink a:hover {
    cursor: pointer;
}

.renewalitemlink:hover {
    cursor: pointer;
}

.spcr {
    width: 15px;
}

#renewal-view {
    display: block;
    transition: all 0.25s ease-in-out;
}

.monthholder {
    width: 100px;
    text-align: center;
}

.yearholder {
    text-align: center;
}

.userholder {
}


.homelist {
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

h1 {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.9em;
    margin-bottom: 0px;
}

:root .e-input {
    padding-left: 9px;
    border: 2px solid #f1f1f1;
    padding-right: 22px;
    height: 30px;
    background-color: #f1f1f1;
    color: #3c3c3c !important;
}

.sf-chevron {
    position: relative;
    top: 2px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

    select::-ms-expand {
        display: none;
    }

.txt-name {
    font-family: "Segoe UI", -apple-system, blinkMacSystemfont, "Roboto", "Helvetica Neue", sans-serif;
    font-size: .6em;
    color: #626262;
    position: relative;
    top: -8px;
    left: -5px;
}

.renewal-assignedto {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 4px;
    position: relative;
    top: 3px;
}

.toolbar-calendar-calendar {
    opacity: 1;
    pointer-events: all;
}

.toolbar-calendar-selected {
    opacity: .4;
    pointer-events: none;
}

.toolbar-selected-selected {
    opacity: 1;
    pointer-events: all;
}

.toolbar-selected-disabled {
    opacity: .4;
    pointer-events: none;
}

.toolbar-text-cal {
    color: #3c3c3c;
    font-family: "montserrat", sans-serif;
    font-size: .85em;
    width: 115px;
    text-align: center;
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
    user-select: none;
}

.toolbar-link-cal {
    text-decoration: none;
}

:root .toolbar-link-cal svg {
    fill: #636363 !important;
}

.sftb {
    position: relative;
    top: 1px;
}

.orphan-list {
    padding: 10px 10px;
}

.sf-reddot {
    background-color: #9f9f9f;
    font-family: "montserrat", sans-serif;
    font-weight: 800;
    font-size: .8em;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
    width: 15px;
    display: block;
    text-align: center;
}

.rd-1 {
    background-color: #968281;
}

.rd-2 {
    background-color: #a96967;
}

.rd-3 {
    background-color: #dd4c46;
}

.sf-td-bold {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 180px;
    max-width: 300px;
}

.sf-rentable {
}

.ellipsis2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 50px;
    max-width: 300px;
}
