.sf-threedot {
    opacity: .5;
}

    .sf-threedot:hover {
        cursor: pointer;
        opacity: 1;
    }

.sf-completedcheckbox {
    position: relative;
    top: -4px;
    left: 2px;
}

.highlighted-row td:nth-child(2) {
    background-color: #ffe349ff !important;
    color: #000000be !important;
}

.table thead {
    font-family: "montserrat", sans-serif;
    font-weight: 100 !important;
    text-align: left;
    font-size:11px;
    color: #767676;
}

.da {
    font-size: 10px;
    color: #6b6b6b !important;
}

.ds {
    font-size: 11px !important;
}

.db {
    font-size: 13px;
    font-weight: bold;
}

.eg {
    font-size: .7em;
    font-style: italic;
    color: #838383;
}
.sf-leftcell {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#207cca+42,b1c9e8+55,ffffff+100 */
    background: linear-gradient(to right, #207cca 42%,#b1c9e8 55%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.sf-linecode {
    font-family: "montserrat", sans-serif;
    font-weight: 800;
    background-color: #3a0647;
    padding: 4px 10px;
    font-size: 2em;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sf-renewaldate {
    font-family: "montserrat", sans-serif;
    font-weight: 800;
    background-color: #ffffff89;
    padding: 4px 10px;
    font-size: 2em;
    color: #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position:relative;
    left:-5px;
}
.sf-renewalheader {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    width: 100%;
    background-color:#207cca;
    padding:20px;
}
.sf-clientname {
    font-family: "montserrat", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2.5em;
    line-height: 30px;
    position:relative;
    color:#fff;
    top:4px;
}

    .sf-clientname h1 {
        font-family: "montserrat", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 2.5em;
        margin-bottom: 20px;
    }
.sf-pilltitle {
    margin-top:10px;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    background-color: #757575;
    padding: 2px 5px;
    font-size: .8em;
    color: #d9d9d9;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.sf-pillvalue {
    margin-top: 10px;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    background-color: #e0e0e0;
    padding: 2px 8px;
    font-size: .8em;
    color: #2b2b2b;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.sf-pillcontainers {
    margin-top: 15px;
    margin-bottom: 15px;
}